font-family: 'Gothic A1', sans-serif;

font-family: 'Didact Gothic', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2rem;
  background-color: #FEFEFE;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  color: white;
  background-color: #2639ED;
  width: 29%;
  max-width: 135px;
  padding: 4.5% 8.5%;
  border-radius: 60px;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 40px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

p {
  margin: 0;
  line-height: 160%;
}

.ellipse, .rectangle, .ornament {
  position: absolute;
  z-index: -1;
}

/* Header Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 42px 120px 0 120px;
}

.nav__logo-letter {
  display: flex;
  align-items: baseline;
  font-size: 1.9rem;
}

.nav__logo__name {
  font-family: 'Gothic A1', sans-serif;
}

.nav__navigation-menu {
  width: 100%;
  max-width: 645px;
}

.nav__navigation-menu__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__navigation-menu__links li a{
  color: black;
  text-decoration: none;
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  width: 100%;
  max-width: 1372px;
  height: 510px;
  margin: 40px 0 98px 68px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 38%;
  height: 100%;
  padding: 123px 0 124px 52px;
  box-sizing: border-box;
  position: relative;
}

.hero-left__title-primary {
  font-size: 40px;
  margin: 0;
}

.hero-left__content {
  color: #565656;
  margin: 0;
  line-height: 160%;
}

.hero-left__ornament--first, .hero-left__ornament--second {
  position: absolute;
  width: 36%;
  max-width: 196px;
  height: auto;
  max-height: 154px; 
  bottom: 1%;
}

.hero-left__ornament--first {
  left: 0;
}

.hero-left__ornament--second {
  left: 38%;
}

.hero-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 53%;
  box-sizing: border-box;
}

.hero-right__img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}


.hero-right__ellipse {
  position: absolute;
  background-color: #DAE9FF;
  width: 17%;
  max-width: 129px;
  height: 26%;
  max-height: 129px;
  border-radius: 100%;
  right: 91%;
  top: 0;
  z-index: -1;
}

.hero-right__rectangle {
  position: absolute;
  background-color: #FFF5DB;
  width: 24%;
  max-width: 178px;
  height: 35%;
  max-height: 178px;
  border-bottom-right-radius: 50%;
  right: 17%;
  bottom: -17%;
}

/* Our Client Section */

.our-client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 40px 0 0 120px;
}

.our-client-left {
  width: 100%;
  max-width: 336px;
  }

.our-client-left__title-primary {
  font-size: 40px;
  margin: 0;
}

.our-client-left__content{
  padding-top: 5%;
  font-size: 1.4rem;
  color: #757575;
}

.our-client-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7%;
  width: 100%;
  max-width: 802px;
  padding-top: 3%;
}

.our-client-right img {
  max-width: 21%;
  height: auto;
  display: block;
  margin: auto;
}

.our-client-right__amazon-icon {
  padding-top: 3.5%;
}

.how-can-we-help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1358px;
  height: 867px;
  padding: 94px 0 0 82px;
 
}

.how-can-we-help p {
  color: #565656;
  padding-top: 7%;
}

.how-can-we-help__left {
  width: 32%;
  max-width: 396px;
  height: 100%;
  padding-left: 39px;
  padding-top: 360px;
  z-index: 1;
  box-sizing: border-box;
  position: relative;
}

.how-can-we-help__left-rectangle {
  width: 45%;
  max-width: 178px;
  height: 21%;
  max-height: 178px;
  background-color: #FFF5DB;
  border-top-left-radius: 50%;
  left: -2%;
  top: 35%;
}

.how-can-we-help__right {
  height: 100%;
  width: 67%;
  max-width: 833px;  
  position: relative;
  }

.how-can-we-help__right--background {
  display: flex;
  justify-content: space-between;
  height: 72%;
  max-height: 619px;
  width: 140%;
  max-width: 1047px;
  background-color: #F4F9FF;
  border-top-left-radius: 17%;
  margin-top: 17%;
  margin-left: -25.7%;
}

.info-block{
  text-align: center;
  width: 99%;
  max-width: 305px;
  height: 50%;
  max-height: 375px;
  border-radius: 40px;
  border: 1px solid #F2F2F2;
  background-color: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.info-block p {
  line-height: 140%;
  width: 81%;
  max-width: 245px;
  padding: 27px 32px 56px 31px;
}

.info-block img {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  object-fit: none;
  margin: 31px 94px 31px 93px;
}

.info-blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-blocks__left {
  padding-left: 20.3%;
  margin: -61px 0 -108px 0;
}

.info-blocks__business img{
  background-color: #F1F7FF;
}

.info-blocks__development img{
  background-color: #FFF2F8;
}

.info-blocks__right {
  padding-right: 17.4%;
  margin: -140px 0 -29px 0;
}

.info-blocks__financial img{
  background-color: #FFF7E3;
}

.info-blocks__market img{
  background-color: #DEFFEE;
}

.how-can-we-help__right-background-ornament {
  width: 50%;
  max-width: 196px;
  height: auto;
  max-height: 154px; 
  top: 74.3%;
}

.how-can-we-help__right-background--first {
  left: -58%;
}

.how-can-we-help__right-background--second {
  left: -33%;
}

.how-can-we-help__right-background--ellipse {
  width: 15%;
  max-width: 120px;
  height: 14%;
  max-height: 120px;
  border: solid 8.8px #FF007A;
  border-radius: 100%;
  left: 68.5%;
  top: 82%;
}

/* Great Since Section */

.great-since {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 372px;
  padding: 146px 120px 0 120px;
}

.great-since-left {
  max-width: 49.2%;
  height: auto;
  margin-top: 0;
  position: relative;
}

.great-since-left__img {
  display: block;
  max-width: 93%;
  border-radius: 32px;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.great-since-left__btn{
  background-color: transparent;
  border: none;
  position: absolute;
  left: 40.5%;
  top: 38.4%;
  z-index: 1;
  cursor: pointer;
}

.great-since-left__btn-img {
  display: block;
  max-width: 100%;
}

.great-since-left__ellipse {
  width: 22%;
  max-width: 129px;
  height: 36%;
  max-height: 129px;
  border-radius: 100%;
  background-color: #FFF5DB;
  left: 78.4%;
  top: 84%;
  z-index: -1;
}

.great-since-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  max-width: 532px;
  height: 54%;
  max-height: 232px;
  position: relative;
}

.great-since-right__rectangle {
  width: 34%;
  max-width: 178px;
  height: 77%;
  max-height: 178px;
  border-bottom-right-radius: 100px;
  background-color: #EFF1FF;
  left: -7.4%;
  top: -10.5%;
  z-index: -1;
}

/* Happy Client Section */

.happy-client {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1264px;
  height: 597px;
  padding: 180px 69px 0 107px;
}

.happy-client__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
  text-align: center;
}

.happy-client-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1264px;
  height: 67%;
  max-height: 398px;
  margin-top: 71px;
}

.happy-client-bottom__left {
  width: 33%;
  max-width: 399px;
  height: 113%;
  max-height: 398px;
  padding: auto 67px auto 10px;
  position: relative;
}

.happy-client-bottom__left-img {
  width: 100%;
  max-width: 398px;
  border-radius: 50% 0 50% 50%;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.happy-client-bottom__left-ornament-dots {
  position: absolute;
  left: 57.5%;
  top: -10.5%;
  z-index: -1;
}

.happy-client__left-ellipse {
  position: absolute;
  width: 31%;
  max-width: 120px;
  height: 31%;
  max-height: 120px;
  border: solid 8.8px #FF007A;
  border-radius: 100%;
  top: 64.5%;
  left: -2.5%;
  z-index: -1;
}

.happy-client-bottom__middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  max-width: 412px;
  height: 185px;
}

.happy-client-bottom__middle-link-dots ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  width:  41%;
  max-width: 168px;
  margin: 0;
  padding: 0;
}

.dot{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #2639ED;
  cursor: pointer;
}

.happy-client-bottom__middle-link-dots ul li{
}

.happy-client__middle-dots--first {
  background-color: #2639ED;
}

.happy-client__middle-dots--second{
  background-color: #E7F0FC;
}

.happy-client__middle-dots--third{
  background-color: #E7F0FC;
}

.happy-client__middle-dots--fourth{
  background-color: #E7F0FC;
}
.happy-client__middle-dots--fifth {
  background-color: #E7F0FC;
} 

.happy-client-bottom__right {
  width: 348px;
  height: 355px;
  position: relative;
}

.happy-client-bottom__right img {
  position: absolute;
}

.happy-client-bottom__right-carousel-twelve{
  bottom: 287px;
  left: 137px;
}

.happy-client-bottom__right-carousel-three {
  bottom: 151px;
  left: 294px;
}

.happy-client__right-carousel-eight {
  bottom: 84px;
  left: 0;
}

.happy-client__right-carousel-two {
  bottom: 238px;
  left: 249px;
}

.happy-client__right-carousel-eleven {
  bottom: 199px;
  left: 0;
}

.happy-client__right-carousel-center {
  bottom: 128px;
  left: 124px;
}

.happy-client__right-carousel-seven {
  bottom: 0px;
  left: 98px;
}

.happy-client__right-carousel-four {
  bottom: 60px;
  left: 226px;
}

.happy-client__right-ellipse {
  width: 184px;
  height: 184px;
  background-color: #FFF5DB;
  border-radius: 100%;
  margin: 107px 143px auto auto;
}

/* Newsletter Section */

.newsletter {
  display: flex;
  width: 100%;
  max-width: 1272px;
  height: 387px;
  padding: 92px 86px 0 82px;
  position: relative;
}

.newsletter__box-rectangle {
  width: 13%;
  max-width: 178px;
  height: 38%;
  max-height: 178px;
  background-color: #FFF5DB;
  border-bottom-left-radius: 50%;
  left: 5.7%;
  bottom: 0;
}

.happy-client__left-ellipse {
  position: absolute;
  width: 31%;
  max-width: 120px;
  height: 31%;
  max-height: 120px;
  border: solid 8.8px #FF007A;
  border-radius: 100%;
  top: 64.5%;
  left: -2.5%;
  z-index: -1;
}

.newsletter__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1197px;
  height: 76%;
  max-height: 292px;
  background-color: #F4F9FF;
  border-radius: 75px;
  margin: 56px 37px 39px 38px;
}

.newsletter__ornament-dots {
  position: absolute;
  width: 14%;
  max-width: 196px;
  height: auto;
  max-height: 154px; 
  z-index: -1;
  top: 19.1%;
  right: 6%;
}

.newsletter__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46%;
  max-width: 540px;
  height: 35%;
  max-height: 95px;
  padding-left: 92px;
}

.newsletter__right {
  display: flex;
  align-items: center;
  width: 46%;
  max-width: 543px;
  height: 100%;
  max-height: 292px;
  background-image: url("../images/Rectangle 31.png");
  background-repeat: no-repeat;
  background-position: right;
}

.newsletter__right-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  width: 88%;
  max-width: 479px;
  height: 28%;
  max-height: 80px;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
  margin: auto 98px auto -34px;
}

.newsletter__right-contact input{
  width: 43%;
  max-width: 200px;
  height: 100%;
  margin-left: 34px;
  background-color: #FFFFFF;
  border: none;
  color: #959595;
  font-size: 16px;
  padding: 0;
}

.newsletter__right-contact input:focus{
  outline: none;
}

.newsletter__right-contact-btn {
  margin-right: 10px;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 348px;
  padding: 107px 120px 23px 120px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 81%;
  max-height: 280px;
  border-top: 1px solid #E4E4E4;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 23%;
  max-width: 270px;
  height: 79%;
  max-height: 220px;
  padding-top: 60px;
}

.footer__left-logo {
  display: flex;
  align-items: baseline;
  font-size: 24px;
}

.footer__left-logo--name {
  font-family: 'Gothic A1', sans-serif;
}

.footer__left p {
  font-size: 14px;
  color: #565656;
}

.footer__left-social {
  display: flex;
  justify-content: flex-start;
}

.footer__left-social img{
  margin-right: 16px;
  cursor: pointer;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  width: 65%;
  max-width: 740px;
  padding-top: 63px;

}

.footer__right * h3 {
  margin: 0;
  padding-bottom: 24px;
}

.footer__right * ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__right * ul li a{
  font-size: 14px;
  color: black;
  text-decoration: none;
  line-height: 200%;
}

.copyright {
  color: #A4A4A4;
  max-width: 100%;
}